@font-face {
    font-family: 'Bodoni MT';
    src: local('Bodoni MT-700'), url('../fonts/bod_b.woff2') format('woff2'), url('../fonts/bod_b.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bodoni MT';
    src: local('Bodoni MT-700'), url('../fonts/bod_bi.woff2') format('woff2'), url('../fonts/bod_bi.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Bodoni MT';
    src: local('Bodoni MT-900'), url('../fonts/bod_blai.woff2') format('woff2'), url('../fonts/bod_blai.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Bodoni MT';
    src: local('Bodoni MT-900'), url('../fonts/bod_blar.woff2') format('woff2'), url('../fonts/bod_blar.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Bodoni MT';
    src: local('Bodoni MT-400'), url('../fonts/bod_r.woff2') format('woff2'), url('../fonts/bod_r.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bodoni MT';
    src: local('Bodoni MT-400'), url('../fonts/bod_i.woff2') format('woff2'), url('../fonts/bod_i.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto 700'), url('../fonts/RobotoBold.woff2') format('woff2'), url('../fonts/RobotoBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto 700'), url('../fonts/RobotoBoldItalic.woff2') format('woff2'), url('../fonts/RobotoBoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto 400'), url('../fonts/RobotoRegular.woff2') format('woff2'), url('../fonts/RobotoRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto 400'), url('../fonts/RobotoItalic.woff2') format('woff2'), url('../fonts/RobotoItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
